<!doctype html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Mystery Word Game</title>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
 </head>
 <body>
   <div class="gameWrap">
      <h1 class="title">Mystery Word</h1>
      <h2 class="lose">{{gameLose}}</h2>
      <h2 class="win">{{gameWin}}</h2>
    <div class="word">
        {{#wordDisplay}}
          <div class="letters"><h2>{{.}}</h2></div>
        {{/wordDisplay}}
   </div>
   <form class="guess" action="/" method="post">
      <input type="text" name="guess" maxlength="1" autocomplete="off" autofocus />
   </form>
     <h4 class="lettersGuessed">Incorrect Letters:</h4>
     <h4 class='wrongLetters'>{{lettersGuessed}}</h4>
     <h4 class="count">Guesses Remaining: {{count}}</h4>
   <div class="scoreboard">
     <p class="words">Correct Words:</p>
     <p class="score">Score: {{score}}</p>
   </div>
   <div class="correctWords">
     {{#correctWords}}
     <li>
       {{.}}
     </li>
     {{/correctWords}}
   </div>
 </body>
</html>
