* {
  font-family: 'Baloo Tammudu', cursive;
  margin: 0;
}

.title {
 font-size: 60px;
 text-align: center;
}

.lose {
  text-align: center;
  color: red;
}

.win {
  text-align: center;
  color: green;
}

.word {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

#letters {
 margin: 50px 0;
 height: 50px;
 width: 60px;
 text-align: center;
 vertical-align: middle;
 border-bottom: 5px solid black;
}

#letters h2 {
  margin: 0;
  padding: 10px 10px;
}

.guess {
 margin-top: 75px;
 margin-bottom: 15px;
 text-align: center;
}

p {
 text-align: center;
 text-transform: capitalize;
 color: red;
}

h4 {
 text-align: center;
}

.correctWords {
 height: 250px;;
 margin: 25px;
 border: 1px solid black;
}
