* {
  font-family: 'Baloo Tammudu', cursive;
  margin: 0;
  background-color: #92bddf;
}

.gameWrap {
  border: 5px solid #d7d7d7;
  box-shadow: 2px 2px 5px #5d5d5d;
  margin: 2.5% 10%;
  background-color: #ffffff;
}

.title {
 margin-bottom: -40px;
 font-size: 60px;
 text-align: center;
 background-color: #ffffff;
 color: #5d5d5d;
}

.lose {
  text-align: center;
  color: #ff6314;
  background-color: #ffffff;
}

.win {
  text-align: center;
  color: #5296dd;
  background-color: #ffffff;
}

.word {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 background-color: #ffffff;
 color: #5296dd;
}

.letters {
 margin: 20px 0;
 height: 40px;
 width: 60px;
 text-align: center;
 vertical-align: middle;
 border-bottom: 2.5px solid #5d5d5d;
 background-color: #ffffff;
 color: #5296dd;
}

.letters h2 {
  padding: 10px 10px;
  background-color: #ffffff;
  color: #5296dd;
  text-transform: capitalize;
  font-size: 40px;
}

.guess {
 margin-top: 25px;
 margin-bottom: 15px;
 display: flex;
 justify-content: center;
 background-color: #ffffff;
}

.guess input {
  margin: 0;
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: #5d5d5d;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  vertical-align: center;
}

.lettersGuessed {
 text-align: center;
 background-color: #ffffff;
 color: #5d5d5d;
}

.wrongLetters {
  color: #ff6314;
  text-align: center;
  text-transform: capitalize;
  background-color: #ffffff;
}

.count {
 text-align: center;
 background-color: #ffffff;
 color: #5d5d5d;
}

.scoreboard {
  display: inline;
  background-color: #ffffff;
  color: #5d5d5d;
}

.words {
  float: left;
  display: inline;
  padding-left: 60px;
  margin-top: 12px;
  background-color: #ffffff;
  color: #5d5d5d;
}

.score {
  display: inline;
  padding-right: 60px;
  float: right;
  margin-top: 12px;
  background-color: #ffffff;
  color: #5d5d5d;
}

.correctWords {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 height: 200px;
 margin: 50px;
 padding: 5px 5px;
 border: 4px solid #d7d7d7;
 box-shadow: inset 0 0 5px #5d5d5d;
 overflow: scroll;
 text-align: center;
 background-color: #ffffff;
}

.correctWords li {
 list-style: none;
 text-transform: uppercase;
 font-size: 18px;
 width: 33.33%;
 background-color: #ffffff;
 color: #5296dd;
}
